Week 5, Assignment C1:

Logistic Regression with Yahoo! Finance API in Python

In this notebook, we will study Logistic Regression using the Yahoo! Finance API in Python.

Please complete the lines bellow where you see "#TODO".

In [1]:
#Objective 1.
#Use this cell to import the Numpy (as np), Pandas (as pd), and YFinance (as yf) packages.

#Import the needed packages, including the Yahoo! Finance API.
import numpy as np
import pandas as pd
import yfinance as yf

#Our work will also require some components of the Sklearn and Pandas_Datareader packages as imported below:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from pandas_datareader import data as pdr
yf.pdr_override()

In [2]:
#Objective 2.
#Select a stock symbol for a stock whose historical data is available on the Yahoo! Finance website.  Store the
#string of your chosen symbol to the new variable "stock_symbol".

#Store your favorite stock symbol as the string variable "stock_symbol".
stock_symbol = 'STC'

In [6]:
#Objective 3.
#Use the function "pdr.get_data_yahoo(stock_symbol, start_date, end_date)" to generate a Pandas dataframe of
#historical stock data for your chosen stock.  Retain only the first four columns of the dataframe.  Be sure to 
#drop any rows containing NaN's, and take a peek at the resulting dataframe to make sure everything looks good.

#Get the historical data from Yahoo! Finance for your favorite stock.
df = pdr.get_data_yahoo(stock_symbol, '2000-01-01', '2021-10-31')
#Limit the dataframe to just the first four columns.
df = df.iloc[:, :4]
#Drop any NaN's.
df = df.dropna()
#Inspect the resulting dataframe.
df

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close
Date
2000-01-03  13.312500  13.500000  13.125000  13.187500
2000-01-04  13.062500  13.375000  13.062500  13.125000
2000-01-05  13.125000  13.375000  13.125000  13.187500
2000-01-06  13.125000  13.125000  12.562500  12.562500
2000-01-07  12.437500  12.437500  12.250000  12.375000
...               ...        ...        ...        ...
2021-10-25  71.320000  72.349998  70.879997  72.250000
2021-10-26  72.300003  72.349998  71.190002  71.300003
2021-10-27  70.900002  71.489998  69.220001  69.239998
2021-10-28  71.550003  73.910004  70.120003  70.360001
2021-10-29  70.730003  71.599998  70.279999  71.169998

[5493 rows x 4 columns]

In [8]:
#Objective 4.
#Use the historical data to define some predictor variables.  Add these variables to the dataframe.  Include, at a
#minimum, (Predictor.I) the rolling average closing price over the past fifteen (15) days and (Predictor.II) the
#change in opening price over the past one (1) day.  Be sure to again drop any rows containing NaN's, and take a
#peek at the resulting dataframe to make sure everything looks good.  Store the dataframe as the new variable "X".

#Create a new column in the dataframe called "Close_15_Rolling" and assign it the values of the rolling average
#closing price over the past fifteen (15) days.
df['Close_15_Rolling'] = df['Close'].rolling(window = 15).mean()
#Create a new column in the dataframe called "Open_1_Change" and assign it the values of the change in the opening
#price over the past one (1) day.
df['Open_1_Change'] = df['Open'] - df['Open'].shift(1)
#Drop any NaN's.
df = df.dropna()
#Store the dataframe as the new variable "X".
X = df
X

,Open,High,Low,Close,Close_15_Rolling,Open_1_Change
Date,,,,,,
2000-01-24,13.125000,13.375000,12.750000,13.312500,13.008333,0.062500
2000-01-25,13.250000,13.375000,13.000000,13.000000,12.995833,0.125000
2000-01-26,13.000000,13.125000,13.000000,13.125000,12.995833,-0.250000
2000-01-27,13.062500,13.187500,13.000000,13.125000,12.991667,0.062500
2000-01-28,13.062500,13.187500,13.000000,13.062500,13.025000,0.000000
...,...,...,...,...,...,...
2021-10-25,71.320000,72.349998,70.879997,72.250000,68.522000,-0.750000
2021-10-26,72.300003,72.349998,71.190002,71.300003,68.961334,0.980003
2021-10-27,70.900002,71.489998,69.220001,69.239998,69.223334,-1.400002
2021-10-28,71.550003,73.910004,70.120003,70.360001,69.490667,0.650002
2021-10-29,70.730003,71.599998,70.279999,71.169998,69.772667,-0.820000

In [9]:
#Objective 5.
#Define the target or dependent variable to be one (1) if the change in closing price over the past one (1) day is
#nonnegative and negative one (-1) if the change in closing price over the past one (1) day is negative.  This
#variable's values should be forward-looking (i.e., you should subtract today's price from tomorrow's price rather
#than subtracting yesterday's price from today's price).  Store the resulting values as the new variable "y".  You
#may find the "np.where(*args)" function to be useful.  Look it up in Numpy documentation for support.

#Calculate the historical values of the variable to be predicted.
y = np.where(df['Close'].shift(-1) - df['Close'] >= 0, 1, -1)
y

array([-1,  1,  1, ...,  1,  1, -1])

In [ ]:
#Objective 6.
#Split the data into training and test sets, putting the first seventy percent (70%) of the data in the training
#set.

index = int(0.7*len(X))
X_train, X_test, y_train, y_test = #TODO

In [ ]:
#Objective 7.
#Instantiate the Logistic Regression model object, and use its ".fit(*args)" method to fit the model to the 
#training data.

logistic = LogisticRegression()
logistic = #TODO

In [ ]:
#Objective 8.
#Examine the model's coefficients by using its ".coef_" method.

pd.DataFrame(zip(X.columns, np.transpose(logistic.coef_)))

In [ ]:
#Objective 9.
#Use the model's ".predict_proba(*args)" and ".predict(*args)" methods to generate predictions over the test set.

probabilities = #TODO
predictions = #TODO

In [ ]:
#Objective 10.
#Use the function "metrics.confusion_matrix(*args)" to create a confusion matrix comparing the predicted and true
#classification labels over the test set.

#TODO

In [ ]:
#Objective 11.
#Calculate the model's accuracy on the test set using its ".score(*args)" method.

#TODO

In [ ]:
#Objective 12.
#Use five-fold cross validation to cross-check the accuracy of the model over different held-out test sets.  This
#is where you should use the function "cross_val_score(*args)".

cross_val = #TODO